@{
    ViewBag.Title = "Index";
}

<div class="table">
    <div class="table-title">
        <h1 class="display-4">Evaluator Demo</h1>
    </div>

    <div class="table-text">
        <h2 id="loading-text">Loading</h2>
        <h2 id="eva-text" style="display: none;">Evaluating</h2>
        <a href="#" id="shuffle-cards">Shuffle Cards</a>
    </div>

    <div id="data-place"></div>
</div>

<div class="right-panel">
    <a href="https://github.com/danielpaz6/Poker-Hand-Evaluator" target="_blank"><img data-toggle="tooltip" data-placement="left" title="Go to this github repository" src="/Resources/medal.svg" /></a>
    <a href="https://github.com/danielpaz6" target="_blank"><img data-toggle="tooltip" data-placement="left" title="Go to my Github profile" src="/Resources/github-logo.svg" /></a>
    <a href="https://www.linkedin.com/in/paz-daniel" target="_blank"><img data-toggle="tooltip" data-placement="left" title="Go to my Linkedin profile" src="/Resources/linkedin.svg" /></a>
</div>